.place-order {    
    display: flex;
    align-items: start;
    gap: 50px;
    margin-top: 20px;
}

.place-order-left {
    width: 100%;
    max-width: max(30%, 500px);
}

.place-order-left .title {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 50px;
}

.place-order-left input {
    margin-bottom: 15px;
    width: 100%;
    padding: 10px;
    border: 1px solid #c5c5c5;
    border-radius: 4px;
    outline-color: tomato;
}

.place-order-left .button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #f0c14b;
    color: #111;
    font-size: 16px;
    cursor: pointer;
}

.place-order-left .multi-fields {
    display: flex;
    gap: 10px;
}

.place-order-right {
    width: 400px;
    margin-left: auto;
}

.place-order .cart-totals-section button {
    margin-top: 30px;
}

@media (max-width: 768px) {
    .place-order {
        flex-direction: column;
        padding: 0 20px;
        gap: 30px;
    }

    .place-order-right {
        width: 100%;
        margin-left: 0;
    }
}